/src/conf/config.json merge=ours
/src/config.js merge=ours
/src/components/CustomMain.tsx merge=ours
/public/iconApp.png merge=ours
/public/nicePage/ merge=ours
/public/nicePage/nicepage.css merge=ours
/src/theme/theme.ts merge=ours
/src/theme/themeColors.ts merge=ours
/public/manifest-template.json merge=ours
/public/favicon.ico merge=ours
/public/robots.txt merge=ours
.env.local merge=ours