@font-face {
    font-family: "Quizine";
    src: url("/fonts/Quizine-Regular.ttf");
}

@font-face {
    font-family: "ForbesTypefaceAlt";
    src: url("/fonts/ForbesTypefaceAlt.ttf");
}

@font-face {
    font-family: "fjord-font";
    src: url("/fonts/fjord-font.ttf");
}

@font-face {
    font-family: "Selfie_Regular";
    src: url("/fonts/Selfie_Regular.otf");
}



